@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

svg {
	--highlight: #6366f1;
}

.layer-label {
	user-select: none;
}

.path-label {
	user-select: none;
}

.layer[highlighted='true'] {
	color: var(--highlight);
	fill: var(--highlight);
	stroke: var(--highlight);
}

.layer[highlighted='true'] .cutout {
	color: var(--highlight);
	fill: var(--highlight);
	stroke: var(--highlight);
}
